<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="cordova-android-notification-pref"
      version="1.0.2">
    <name>cordova-android-notification-pref</name>
    <description>Cordova Notification Pref</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/gregavola/cordova-android-notification-pref</repo>

    <js-module src="www/notificationpref.js" name="NotificationPref">
        <clobbers target="NotificationPref" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NotificationPref">
                <param name="android-package" value="cordova.plugins.NotificationPref" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/NotificationPref.java" target-dir="src/cordova/plugins/NotificationPref"/>
    </platform>
</plugin>
